
	<html>
		<head>
			<title>Hello</title>
		</head>
		<body>
		<ul>
		
		<li>{{.Firstname}} {{.Surname}}</li>
		
		{{$x:=.Firstname}}
		{{$y:=.Surname}}
		<li>{{$x}} {{$y}}</li>
		</ul>
		</body>
	</html>
	